.cart-page {
    display: flex;
    flex-direction: row;

    width: 100%;
    height: calc(100% - 50px);

    justify-content: left;
    align-items: center;

    background: #f0f0f0;
}

.cart-panel {
    display: flex;
    flex-direction: column;

    margin: 64px;
    padding: 64px;

    width: 460px;
    height: calc(100% - 256px);

    justify-content: left;
    align-items: start;

    border-radius: 15px;

    background: #fafafa;
}

.cart-filler {
    display: flex;
    flex-direction: column;

    margin: 64px;
    padding: 64px;

    width: calc(100% - 128px);
    height: calc(100% - 256px);

    justify-content: left;
    align-items: start;

    border-radius: 15px;

    background: #fafafa;
}