@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

html, body {
    margin: 0;
    padding: 0;
    background: #f0f0f0;
    height: 100vh;
}

a, u {
    text-decoration: none;
}

.container {
    display: flex;
    height: calc(100vh - 60px);
}

.header {
    display: flex;
    width: calc(100%);
    align-items: center;
    height: 50px;
    background: #2E2E2E;
}

.header-text {
    padding-left: 20px;
    color: white;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 36px;
    line-height: calc(125%);
}

.toolbar {
    display: flex;
    flex-direction: column;

    background: white;

    border-right: 1px solid #eee;
    width: 300px;

    padding: 10px;
}
