@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

img{
    border-radius: 10px;
    object-fit: cover;
}

.collapse {
    display: flex;
    flex-direction: column;
}

.collapse-item {
    border-top: solid 1px #E9E9E9;
    padding: 4px;
    align-items: center;
}

.button {
    cursor: pointer;
    padding: 5px;
    border-radius: 5px;
    width: max-content;
}

.button-text {
    color: white;
    font-family: 'Inter';
    font-weight: 300;
    font-size: 16px;
    line-height: calc(125%);

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.input-header {
    color: #2E2E2E;
    font-family: 'Inter';
    font-weight: 300;
    font-size: 12px;
    line-height: calc(125%);

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.unselectable {
    font-family: 'Inter';
    font-weight: 300;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.button:hover {
    opacity: 50%;
}

input {
    height: 32px;
    background: #FFFFFF;
    padding-left: 8px;
    border: #D7D7D7 solid 0px;
}

input:hover {
    background: #FFFFFF;
    border: #2D2D2D solid 0px;
}

.input {
    height: 32px;
    background: #FFFFFF;
    padding-left: 8px;
    border: #D7D7D7 solid 1px;
}

.input:hover {
    background: #FFFFFF;
    border: #2D2D2D solid 1px;
}